<header>
   <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<h1>Filmes</h1>
<div class="container_articles">
   <div class="articles_destaque">
      <app-big-card></app-big-card>
   </div>
   <div class="articles_menores">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
   </div>
</div>

<hr>
<h1>Animes</h1>
<div class="container_articles">
   <div class="articles_destaque">
      <app-big-card></app-big-card>
   </div>
   <div class="articles_menores">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
   </div>
</div>