
form p{
   margin: 5px;
}

.residencial{
   display: grid;
}
.internos{
   display: flex;
   justify-content: space-around;
   margin-bottom: 5px;
}
legend{
   font-weight: 600;
}

input[type=checkbox] {
   margin-right: 8px;
}

.enviar{
   display: block;
   background: rgb(241, 241, 241);
}

input, textarea{
   border-color: rgba(0, 0, 0, 0.222);
   text-indent: 3px;
}

textarea {
   width: 996px;
}

/*https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media (max-width: 1000px) {
   main{
      max-width: 100vw;
   }
   
   form{
      width: auto;
   }
   
   .residencial{
      display: block;
   }
   .residencial>input,
   .internos input{
      width: 300px;
      margin: 5px;
   }
   .checkbox{
      display: grid;
      justify-items: start;
      margin: 5px;
   }

   .internos{
      display: inline;
   }

   .enviar{
      margin-left: 5px;
   }
}