/*CSS DA PAGINA DE APRESENTAÇÃO DO RPOJETO*/

.row{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   flex-wrap: wrap;
}
.column{
   width: 49%;
   display: flex;
   margin: 5px 0;
}

.img-grande{
   width: 100%;
}

.mySlides{
   background-color: black;
}

@media (max-width: 1000px) {
   main{
     max-width: 100vw;
   }
   .column{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 45%;
   }

}