:root{
   --transition: all 1000ms ease-in-out
}

.projetos{
   margin: auto;
   height: 800px;
   width: 1000px;
   display: grid;
   grid-template-columns: 33% 33% 34%;
}
.projetos>a>img{
   width: 99%;
   height: 99%;
}

#projeto1{
   position: relative;
}

.img{
   display: block;
   width: 100%;
   height: auto;
}

.overlay{
   position: absolute;
   background: red;
   width: 99%;
   height: 99%;
   top: 0;
   opacity: 0;
   transition: var(--transition);
}

.texto{
   position: absolute;
   top: 50%;
   left: 55%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
}

.overlay:hover{
   opacity: 1;
}